html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #31004a;
    overflow-x: hidden;
}

.image-title {
    color: white;
    position: relative;
}

.desc {
    color: #fff;
    text-align: center;
    position: relative;
}

#maddox {
    background: -webkit-linear-gradient(#8300c4, #4c00a4);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 20vh;
    font-size: 24vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: .8;
}

#memories {
    position: relative;
    bottom: 10vh;
    color: #a31000;
}

/* images */

#gym {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
      "a"
      "b"
      "c";
    align-items: start;
}
.item1 {
    grid-area: a;
}
.item2 {
    grid-area: b;
}
.item3 {
    grid-area: c;
}
.item4 {
    grid-area: d;
}

#fattox {
    position: relative;
    left: 5vw;
    width: 20vw;
    top: 54vh;
    height: auto;
}
#t-fattox {
    position: relative;
    top: 65vh;
    left: 12.5vw;

}
#d-fattox {
    top: 112vh;
    right: 35vw;
}

/* #gym-1 {
}
#gym-2 {
} */
#gym-3 {
    width: 20vw;
}

#laydox {
    position: relative;
    width: 20vw;
    top: 4300px;
    left: 100px;
}
#t-lay {
    right: 1000px;
}
#d-lay {
    top: 4930px;
    right: 500px;
}

/* divs */

#space {
    display: block;
    width: 100vw;
    height: 150vh;
    position: relative;
}

#background {
    background: -webkit-linear-gradient(#31004a, #000);
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;
    margin: 0;
    height: 110vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

#images {
    margin: 0;
    height: 1400vh;
    width: 100vw;
    z-index: -1;
    background-color: #000;
    position: absolute;
    background-clip: border-box;
    top: 834px;
}
